.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px; /* Increased width by 100 pixels */
  height: 400px; /* Increased height by 100 pixels */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Prevent content overflow */
}

.product-card img {
  max-width: 100%;
  height: 200px; /* Adjusted height to fit the new box size */
  object-fit: cover; /* Ensure images cover the area without distortion */
  border-radius: 4px;
  flex-shrink: 0; /* Prevent image from shrinking */
}

.product-card h3 {
  font-size: 1.2em;
  margin: 8px 0;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.product-card p {
  font-size: 0.9em;
  color: #666;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.product-card .rating {
  font-size: 0.9em;
  margin: 8px 0;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.product-card a {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.product-card a:hover {
  background-color: #0056b3;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card button {
  margin-top: 8px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-card button#Telegram {
  background-color: #0088cc; /* Telegram blue */
}

.product-card button#Telegram:hover {
  background-color: #006699; /* Darker blue on hover */
}

.product-card button#WhatsApp {
  background-color: #25d366; /* WhatsApp green */
}

.product-card button#WhatsApp:hover {
  background-color: #1da851; /* Darker green on hover */
}