<app-header [header]="headerInput"></app-header>
<main>
  <h2>Products</h2>
  <form>
    <select id="category" #filter>
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
    <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
  </form>
  <section class="product-container">
    <ng-container *ngIf="filteredProducts.length > 0; else noProducts">
      <app-product *ngFor="let prod of filteredProducts" [product]="prod" (deleteProduct)="removeProduct(prod)" (incLikeOfProd)="incTheLikeCount(prod)"></app-product>
    </ng-container>
    <ng-template #noProducts>
      <p>No products found for the selected category.</p>
    </ng-template>
  </section>
</main>
<app-footer [author]="author"></app-footer>