footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -4px 2px -2px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }