<section class="product-card">
    <img [src]="product.image" alt="Product Image">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Category: {{ product.category }}</p>
    <section class="rating">
      Rating: {{ product.rating }} ★ |  
      <button type="button" (click)="onLike()" id="Like">&#10084;</button> {{ product.likes }}
    </section>
    <button (click)="shareOnTelegram(product.link)" id="Telegram">Share on Telegram</button>
    <button (click)="shareOnWhatsApp(product.link)" id="WhatsApp">Share on WhatsApp</button>
    <button (click)="redirectToAbout(product.link)" id="Kaspi">About</button>
    <button type="button" (click)="onDelete()" id="Delete">Delete</button>
</section>